:root {
    --primario: #1073ba;
    --secundario: #00da55;
    --gris: #3b3b3b;
    --blanco: #fff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;
    --separacion: 5rem;
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}

html {
  box-sizing: border-box; 
  font-size: 62.5%; /*1rem=100px*/ 
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/*Globales*/
.contenedor { /*la menera en como se posiciona la informacion en toda la pantalla*/
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 { /*letra del todo el texto*/
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0 ;
}
h1 {
    font-size: 4.4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.8rem;
}
img { /*imagenes responsive*/
    max-width: 100%;
    display: block;
    height: auto;
}

/*utilidades*/
.text-center {
    text-align: center;
}

/*degradado-verde*/

.degradado-verde { /*degradao de los titulos*/
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario)100%);
    -webkit-background-clip: text;
}

/*header*/
.header { /*color de fondo del header al principio del parrafo*/
    background-color: var(--negro);
    padding: calc(var(--separacion) * 3 ) 0;
    color: var(--blanco);
}

@media (min-width:768px){ 
    .contenido-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.header img {
    width: 100;
    height: auto;
}
.texto-header {
    text-align: center;
    padding-top: var(--separacion);
}
@media (min-width:768px){ 
    .texto-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}
.texto-header p {
    margin: 0; /*elimina el interlineado*/
}
.tagline-producto {
    font-size: 3rem;
    font-weight: 900; /*grosor de la letra*/
}
.nombre-producto {
    font-size: 6rem;
    margin: 0;
}
@media (min-width:768px){ 
    .nombre-producto {
        font-size: 10rem;
        line-height: 1;
    }
}
.precio-producto span {
    font-size: 6rem;
    font-weight: 900;
}
 
/*iconos*/
.iconos {
    padding: var(--separacion);
}
@media (min-width:768px){ 
    .iconos {
        display: flex;
        gap: 2rem;
    }
}
.icono {
    text-align: center;
    margin-bottom: calc(var(--separacion) / 2);
}
.icono:last-of-type {
    margin: 0;
}
@media (min-width:768px){ 
    .icono {
        margin: 0;
    }
}
.icono img {
    width: 5rem;
    margin: 0 auto;

}
.icono h3 {
    color: var(--primario);
    text-transform: uppercase;
    margin-top: calc(var(--separacion) / 2);
    
}

/*Sobre TechPro*/

.sobre-tech {
   
    background-position: right;
    background-repeat: repeat, no-repeat; /*hace que el color se repita pero la imagen no*/
    background-size: auto, 100rem;
}

.notavif.notwebp .sobre-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0% ), url(../img/imagen-mujer.jpg);
}
.webp .sobre-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0% ), url(../img/imagen-mujer.webp);
}
.avif .sobre-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0% ), url(../img/imagen-mujer.avif);
}
@media (min-width:768px){ 
    .sobre-tech {
        background-repeat: repeat, no-repeat; /*hace que el color se repita pero la imagen no*/
    }
    .notavif.notwebp .sobre-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--primario) 0% ), url(../img/imagen-mujer.jpg);
    }
    .webp .sobre-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--primario) 0% ), url(../img/imagen-mujer.webp);
    }
    .avif .sobre-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--primario) 0% ), url(../img/imagen-mujer.avif);
    }
}
@media (min-width:1600px){ 
    .sobre-tech {
        background-size: auto, 200rem;
    }
}
.sobre-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separacion);
   
}
@media (min-width:768px){ 
    .sobre-tech-grid {
        grid-template-rows: unset;
        row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        padding: calc(var(--separacion) * 2) 0;
    }
}
.texto-sobre-tech {
    grid-row: 2 / 3;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: var(--separacion);
}
@media (min-width:768px){ 
    .texto-header {
        padding-bottom: 0;
    }
    
}
.texto-sobre-tech h2 {
    font-size: 4rem;
}
.texto-sobre-tech p {
    font-size: 1.8rem;
    line-height: 2;
}

 /*Modelos*/
 .modelos {
    padding: var(--separacion) 0 ; /*el 0 indica que a los lados hay una separacion de 0rem*/
 }
 .header-modelos { /*para hacer un margen entre el titulo y la informacion*/
    font-size: 6rem;
    margin-bottom: var(--separacion);
 }
 .listado-modelo { 
    display: flex;
    flex-direction: column-reverse;
 }
 @media (min-width:992px){ 
    .listado-modelo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem); 
        gap: 4rem;
    }
 }
.modelo{
    background-color: var(--grisClaro);
    margin-bottom: 2rem; 
    padding-left: 4rem;
    color: var(--primario);
    border-radius: 2rem;
    min-height: 20rem; 
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: transform backgroaund-size; /*busca el valor de transform para poder animarlo */ 
    transition-duration: .3s;
}
.modelo:hover {
    transform: scale(1.1); /*agranda 10 pixeles */
    background-size: 30rem;
}
@media (min-width:992px){ 
    .modelo {
        margin-bottom: 0;
    }
   
}
modelo h3 {
    font-size: 2.4rem;
}
.modelo .precio{
    font-size: 4rem;
    font-weight: 900; /*grosor de la letra*/
    line-height: 0;
}
.modelo:first-of-type { /*Se aplica al primero en html no al primero en la pagina porque se le aplico column-reverse*/
    margin-bottom: 0;
}
.modelo-x {
    background-image: url(../img/modelo-x.svg);
    
}
.modelo-y {
    background-image: url(../img/modelo-y.svg);
    
}
.modelo-z {
    background-image: url(../img/modelo-z.svg);
    background-color: var(--primario);
    color: var(--blanco);
}
@media (min-width:992px){ 
    .modelo-z {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background-size: 18rem;
    }
    .modelo-z h3 {
        font-size: 4rem;
    }
}
.modelo-z .precio {
    font-size: 6rem;
}

/*Newsletter*/
.newsletter {
    
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}
.notavif.notwebp .newsletter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
}
.webp .newsletter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.webp);
}
.avif .newsletter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.avif);
}
@media (min-width:768px){ 
    .newsletter {
       
        background-position: center, -21rem 0rem;
        background-size: 100%, 100rem;
        padding: 10rem 0;
    }
    .notavif.notwebp .newsletter {
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
    }
    .webp .newsletter{
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.webp);
    }
    .avif .newsletter{
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.avif);
    }
}
@media (min-width:2200px){ 
    .newsletter {
        background-size: 100%, 200rem;
        background-position: 0% -30;
    }
}

.contenido-newsletter{
    display: grid;
    grid-template-rows: repeat(2, 45rem);
    gap: var(--separacion);
}

@media (min-width:768px){ /*para ahcer dos columnas de tamaños iguales*/
    .contenido-newsletter {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}
.texto-newsletter {
    grid-row: 2 / 3; /*para que eltexto quede en la parte de abajo*/
}
@media (min-width:768px){ 
    .texto-newsletter {
        grid-row: unset;
        grid-column: 2 / 3;
    }
}

.formulario input[type="text"] {
    width: 100%;
    padding: 1rem;
}

.formulario input[type="submit"] {
    width: 100%;
    padding: 2rem;
    background-color: var(--primario);
    color: var(--blanco);
    text-transform: uppercase; /*mayusculas*/
    font-size: 2rem; /*tamaño del texto*/
    font-weight: 900; /*grosor de la letra*/
    border: none; /*sin ningun border*/
}

/*footer*/
.footer p {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primario);
    padding: 2rem 0;
}